.cke_editable {
  padding: 25px; }

/* roboto */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-thin.woff?v=1") format("woff"), url("../fonts/roboto/roboto-thin.ttf?v=1") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-light.woff?v=1") format("woff"), url("../fonts/roboto/roboto-light.ttf?v=1") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular.woff?v=1") format("woff"), url("../fonts/roboto/roboto-regular.ttf?v=1") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-medium.woff?v=1") format("woff"), url("../fonts/roboto/roboto-medium.ttf?v=1") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold.woff?v=1") format("woff"), url("../fonts/roboto/roboto-bold.ttf?v=1") format("truetype");
  font-weight: 800;
  font-style: normal; }

/* box model */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* focus */
*:focus {
  outline: 0; }

/* background */
.bg-primary {
  background: #2362a2; }

.bg-primary-light {
  background: #337dbd; }

.bg-primary-dark {
  background: #254e80; }

.bg-secondary {
  background: #dd9f0c; }

.bg-secondary-dark {
  background: #dd9f0c; }

/* text */
.text-primary {
  color: #2362a2; }

.text-primary-light {
  color: #337dbd; }

.text-primary-dark {
  color: #254e80; }

.text-secondary {
  color: #dd9f0c; }

.text-secondary-dark {
  color: #dd9f0c; }

/* nowrap */
.nowrap {
  white-space: nowrap; }

/* html */
html {
  font-size: 0.625rem; }

/* body */
body {
  background: #f5f5f5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.075em;
  color: #3b3b3b;
  text-align: left; }

/* paragraph */
p {
  font-size: 1.5rem;
  margin: 0 0 2.5rem 0;
  line-height: 1.3333333333; }

p.perex {
  font-size: 2rem;
  line-height: 1.5;
  color: #3b3b3b; }

p.smaller {
  font-size: 1.2rem;
  line-height: 1.3333333333; }

/* link */
a {
  color: #2362a2;
  text-decoration: underline;
  -webkit-transition: color 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out, -moz-text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out, -moz-text-decoration 0.15s ease-in-out; }
  a:hover {
    color: #ecae1a;
    text-decoration: none; }

/* titles */
h1 {
  margin: 0;
  padding: 0;
  font-size: 8rem;
  font-weight: 100;
  line-height: 1.25; }
  @media (max-width: 991px) {
    h1 {
      font-size: 5.6rem; } }

h2 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.25; }
  @media (max-width: 991px) {
    h2 {
      font-size: 3rem; } }

h3 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3; }

h4 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

h6 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

h5 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

/* table */
table {
  display: table;
  width: 100% !important;
  margin-bottom: 25px; }
  table thead th,
  table tbody th {
    color: #2362a2;
    text-transform: uppercase;
    font-weight: 500; }
  table thead {
    display: none; }
    @media (min-width: 992px) {
      table thead {
        display: table-header-group; } }
    table thead th {
      padding: 10px 10px 10px 10px;
      font-size: 1.2rem; }
      table thead th:first-child {
        padding-left: 0; }
  table tbody {
    display: block; }
    @media (min-width: 992px) {
      table tbody {
        display: table-row-group; } }
    table tbody tr + tr {
      border-top: 1px solid #e1e1e1; }
      table tbody tr + tr.no-border th,
      table tbody tr + tr.no-border td {
        border-top: none; }
    table tbody tr {
      display: block;
      padding: 15px; }
      @media (min-width: 992px) {
        table tbody tr {
          display: table-row; } }
    table tbody td {
      display: block;
      border: none;
      border-bottom: none;
      position: relative;
      padding: 0;
      letter-spacing: 0.0375em;
      font-size: 1.5rem; }
      @media (min-width: 992px) {
        table tbody td {
          display: table-cell;
          padding: 9px 20px 9px 20px; } }
      table tbody td a, table tbody td a:visited {
        color: #707070;
        text-decoration: none; }
      table tbody td a:focus, table tbody td a:hover {
        color: #2362a2;
        text-decoration: underline; }
      table tbody td a:active {
        color: #2362a2;
        text-decoration: none; }

/* img */
img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

/* list */
ul, ol {
  margin: 0 0 1rem 0;
  padding: 0.2rem 0 0.2rem 1.5rem; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
  padding: 0 0 0 2rem; }

ul li, ol li {
  list-style-position: outside;
  margin: 0.6rem 0 0.6rem 0;
  line-height: 1.5; }

/* hr */
hr {
  clear: both;
  margin: 1rem 0;
  border: 1px solid #f5f5f5; }

/* blockquote */
blockquote {
  margin: 0 0 1rem 0; }

blockquote p {
  background: #f5f5f5;
  padding: 1.5rem;
  margin: 0; }

blockquote p:before {
  color: #3b3b3b;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -.4em;
  font-family: georgia, times, sans; }

blockquote p:after {
  color: #3b3b3b;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.55em;
  margin-left: 0.1em;
  font-family: georgia, times, sans; }

/* audio */
audio {
  background: #000; }

@media (max-width: 450px) {
  audio {
    width: 100% !important; } }

/* video */
video {
  background: #000; }

@media (max-width: 450px) {
  video {
    width: 100% !important; } }
