/* roboto */
@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-thin.woff?v=1") format("woff"), url("../fonts/roboto/roboto-thin.ttf?v=1") format("truetype");
  font-weight: 100;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-light.woff?v=1") format("woff"), url("../fonts/roboto/roboto-light.ttf?v=1") format("truetype");
  font-weight: 300;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-regular.woff?v=1") format("woff"), url("../fonts/roboto/roboto-regular.ttf?v=1") format("truetype");
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-medium.woff?v=1") format("woff"), url("../fonts/roboto/roboto-medium.ttf?v=1") format("truetype");
  font-weight: 500;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  src: url("../fonts/roboto/roboto-bold.woff?v=1") format("woff"), url("../fonts/roboto/roboto-bold.ttf?v=1") format("truetype");
  font-weight: 800;
  font-style: normal; }

@font-face {
  font-family: 'pvs-icons';
  src: url("../fonts/icons/pvs-icons.ttf?v=3") format("truetype"), url("../fonts/icons/pvs-icons.woff?v=3") format("woff"), url("../fonts/icons/pvs-icons.svg?v=3#icon") format("svg");
  font-weight: 400;
  font-style: normal; }

/* box model */
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

/* clearfix */
.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0; }

* html .clearfix {
  zoom: 1; }

/* IE6 */
*:first-child + html .clearfix {
  zoom: 1; }

/* IE7 */
/* focus */
*:focus {
  outline: 0; }

/* background */
.bg-primary {
  background: #2362a2; }

.bg-primary-light {
  background: #337dbd; }

.bg-primary-dark {
  background: #254e80; }

.bg-secondary {
  background: #dd9f0c; }

.bg-secondary-dark {
  background: #dd9f0c; }

/* text */
.text-primary {
  color: #2362a2; }

.text-primary-light {
  color: #337dbd; }

.text-primary-dark {
  color: #254e80; }

.text-secondary {
  color: #dd9f0c; }

.text-secondary-dark {
  color: #dd9f0c; }

/* nowrap */
.nowrap {
  white-space: nowrap; }

.block {
  margin: 0; }
  .block > h2 {
    padding: 0; }

.container {
  padding: 0 25px;
  position: relative; }
  @media (min-width: 768px) {
    .container {
      width: 100%;
      padding: 0 30px; } }
  @media (min-width: 1300px) {
    .container {
      margin: 0 auto;
      padding: 0;
      width: 1200px; } }

.field {
  margin-bottom: 1.3rem; }
  .field.field--label-above .field__label {
    display: block;
    margin-bottom: 0.6rem; }

input, button, select, optgroup, textarea {
  margin: 0;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit; }

button, input {
  overflow: visible; }

/* base */
form {
  margin-bottom: 2rem; }

.form-item {
  margin-top: 0px;
  margin-bottom: 20px; }

label {
  display: block;
  margin-bottom: 8px; }

.form-actions {
  padding-top: 20px; }

/* elements style */
.form-text,
.form-search,
.form-email,
.form-textarea {
  display: block;
  width: 100%;
  padding: 1.1rem 2rem;
  color: #3b3b3b;
  font-size: 2rem;
  letter-spacing: 0.06375em;
  line-height: 1.3333333333;
  border: 0px solid #FFFFFF;
  border-bottom-width: 2px;
  -webkit-border-radius: 3px 3px 0 0;
  -moz-border-radius: 3px 3px 0 0;
  border-radius: 3px 3px 0 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background-color: #FFF;
  background-image: none;
  background-clip: padding-box;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
  -webkit-transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s;
  -o-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  -moz-transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -moz-box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
  transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s, -webkit-box-shadow ease-in-out 0.15s, -moz-box-shadow ease-in-out 0.15s; }

.form-textarea:hover, .form-textarea:active, .form-textarea:focus,
.form-email:hover,
.form-email:active,
.form-email:focus,
.form-search:hover,
.form-search:active,
.form-search:focus,
.form-text:hover,
.form-text:active,
.form-text:focus {
  border-bottom-color: #ecae1a; }

/* submit */
.form-submit {
  display: inline-block;
  vertical-align: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  padding: 1.1rem 2rem;
  line-height: 1.3333333333;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: .5px;
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
  cursor: pointer;
  -webkit-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out;
  -o-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  -moz-transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
  transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out, -webkit-box-shadow 0.15s ease-in-out, -moz-box-shadow 0.15s ease-in-out;
  /* primary style */
  color: #3b3b3b;
  background: #ecae1a;
  border: 2px solid #dd9f0c; }
  .form-submit:hover {
    background: #dd9f0c; }

@media (max-width: 991px) {
  #center {
    padding: 40px 0 40px 0;
    background: #f5f5f5; }
    #center .region-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -webkit-flex-direction: column;
      -moz-box-orient: vertical;
      -moz-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column; }
      #center .region-center #main {
        -webkit-box-ordinal-group: 2;
        -webkit-order: 1;
        -moz-box-ordinal-group: 2;
        -ms-flex-order: 1;
        order: 1; }
      #center .region-center #sidebar-first {
        -webkit-box-ordinal-group: 3;
        -webkit-order: 2;
        -moz-box-ordinal-group: 3;
        -ms-flex-order: 2;
        order: 2; }
      #center .region-center #sidebar-second {
        -webkit-box-ordinal-group: 4;
        -webkit-order: 3;
        -moz-box-ordinal-group: 4;
        -ms-flex-order: 3;
        order: 3; } }

@media (min-width: 992px) {
  /* center */
  #center {
    padding: 5rem 0 5rem 0;
    background: #f5f5f5;
    /* main */
    /* sidebar */ }
    #center .region-center {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      margin: 0 -40px; }
    #center.sidebar-first #main, #center.sidebar-second #main {
      -webkit-box-flex: 11;
      -webkit-flex: 11;
      -moz-box-flex: 11;
      -ms-flex: 11;
      flex: 11;
      padding-left: 40px;
      padding-right: 40px; }
    #center.two-sidebars #main {
      -webkit-box-flex: 9;
      -webkit-flex: 9;
      -moz-box-flex: 9;
      -ms-flex: 9;
      flex: 9; }
    #center.no-sidebars #main {
      width: 900px;
      margin: 0 auto; }
    #center #sidebar-first, #center #sidebar-second {
      -webkit-box-flex: 4;
      -webkit-flex: 4;
      -moz-box-flex: 4;
      -ms-flex: 4;
      flex: 4;
      padding-left: 40px;
      padding-right: 40px; } }

ul.menu {
  margin: 0;
  padding: 0; }
  ul.menu li {
    list-style: none;
    margin: 0;
    padding: 0;
    line-height: 1; }

.messages {
  margin-bottom: 3rem; }

@media (max-width: 991px) {
  #navbar-collapse {
    display: none; }
  body.menu-open #navbar-collapse {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    position: fixed;
    width: 100%;
    height: -webkit-calc(100% - 110px);
    height: -moz-calc(100% - 110px);
    height: calc(100% - 110px);
    top: 110px;
    left: 0;
    z-index: 1000;
    background: #2362a2;
    color: #fff;
    overflow-y: auto;
    padding-top: 35px; }
    body.menu-open #navbar-collapse #header {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    body.menu-open #navbar-collapse #menu {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

.node {
  margin: 0; }

.pager {
  text-align: center;
  margin: 0 0 1rem 0;
  letter-spacing: 0; }
  .pager .pager__items {
    clear: none;
    display: inline-block;
    padding: 0;
    margin: 0;
    border: 1px solid #e1e1e1;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    font-size: 0; }
    .pager .pager__items .pager__item {
      display: inline-block;
      padding: 0;
      margin: 0;
      border-right: 1px solid #e1e1e1;
      font-size: 1rem;
      vertical-align: bottom; }
      .pager .pager__items .pager__item a {
        display: inline-block;
        padding: 0.5em 1em;
        font-size: 1.5rem; }
      .pager .pager__items .pager__item:last-child {
        border-right: 0; }
      .pager .pager__items .pager__item.is-active {
        font-weight: bold; }
        .pager .pager__items .pager__item.is-active a {
          background: #e1e1e1; }
  @media (max-width: 991px) {
    .pager .pager__item--first span,
    .pager .pager__item--previous span,
    .pager .pager__item--next span,
    .pager .pager__item--last span {
      display: none; }
    .pager .pager__item--first a:after {
      content: "<<"; }
    .pager .pager__item--previous a:after {
      content: "<"; }
    .pager .pager__item--next a:after {
      content: ">"; }
    .pager .pager__item--last a:after {
      content: ">>"; } }
  @media (max-width: 479px) {
    .pager .pager__item {
      display: none; }
    .pager .pager__item.is-active,
    .pager .pager__item--first,
    .pager .pager__item--previous,
    .pager .pager__item--next,
    .pager .pager__item--last {
      display: inline-block; } }

nav.tabs ul.tabs:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

nav.tabs ul.tabs {
  padding: 0;
  border: 0;
  border-bottom: 1px solid #2362a2;
  margin: 0 0 30px 0; }

nav.tabs ul.tabs li {
  float: left;
  display: block;
  border: 0;
  margin: 0 6px 0 0;
  padding: 0; }

nav.tabs ul.tabs li a {
  float: left;
  display: block;
  border: 0;
  -webkit-border-top-left-radius: 3px;
  -moz-border-radius-topleft: 3px;
  border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topright: 3px;
  border-top-right-radius: 3px;
  background: #D6D6D6;
  margin: 0;
  padding: 10px 20px;
  font-size: 1.5rem; }

nav.tabs ul.tabs li a:hover {
  background: #C6C6C6; }

nav.tabs ul.tabs li.is-active a {
  background-color: #2362a2;
  border: 0;
  color: #FFFFFF; }

nav.tabs ul.tabs li.is-active a:hover {
  background-color: #2362a2; }

@media (max-width: 1299px) {
  nav.tabs ul.tabs li a {
    padding: 10px 10px;
    font-size: 1rem; } }

/* html */
html {
  font-size: 0.625rem; }

/* body */
body {
  background: #f5f5f5;
  font-family: "Roboto", helvetica, arial, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1.3333333333;
  letter-spacing: 0.075em;
  color: #3b3b3b;
  text-align: left; }

/* paragraph */
p {
  font-size: 1.5rem;
  margin: 0 0 2.5rem 0;
  line-height: 1.3333333333; }

p.perex {
  font-size: 2rem;
  line-height: 1.5;
  color: #3b3b3b; }

p.smaller {
  font-size: 1.2rem;
  line-height: 1.3333333333; }

/* link */
a {
  color: #2362a2;
  text-decoration: underline;
  -webkit-transition: color 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out;
  -o-transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  -moz-transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out, -moz-text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out;
  transition: color 0.15s ease-in-out, text-decoration 0.15s ease-in-out, -webkit-text-decoration 0.15s ease-in-out, -moz-text-decoration 0.15s ease-in-out; }
  a:hover {
    color: #ecae1a;
    text-decoration: none; }

/* titles */
h1 {
  margin: 0;
  padding: 0;
  font-size: 8rem;
  font-weight: 100;
  line-height: 1.25; }
  @media (max-width: 991px) {
    h1 {
      font-size: 5.6rem; } }

h2 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.25; }
  @media (max-width: 991px) {
    h2 {
      font-size: 3rem; } }

h3 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1.3; }

h4 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

h6 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

h5 {
  margin: 0 0 1rem 0;
  padding: 0 0 0 0;
  font-size: 1.2rem;
  font-weight: 300;
  line-height: 1.6666666667; }

/* table */
table {
  display: table;
  width: 100% !important;
  margin-bottom: 25px; }
  table thead th,
  table tbody th {
    color: #2362a2;
    text-transform: uppercase;
    font-weight: 500; }
  table thead {
    display: none; }
    @media (min-width: 992px) {
      table thead {
        display: table-header-group; } }
    table thead th {
      padding: 10px 10px 10px 10px;
      font-size: 1.2rem; }
      table thead th:first-child {
        padding-left: 0; }
  table tbody {
    display: block; }
    @media (min-width: 992px) {
      table tbody {
        display: table-row-group; } }
    table tbody tr + tr {
      border-top: 1px solid #e1e1e1; }
      table tbody tr + tr.no-border th,
      table tbody tr + tr.no-border td {
        border-top: none; }
    table tbody tr {
      display: block;
      padding: 15px; }
      @media (min-width: 992px) {
        table tbody tr {
          display: table-row; } }
    table tbody td {
      display: block;
      border: none;
      border-bottom: none;
      position: relative;
      padding: 0;
      letter-spacing: 0.0375em;
      font-size: 1.5rem; }
      @media (min-width: 992px) {
        table tbody td {
          display: table-cell;
          padding: 9px 20px 9px 20px; } }
      table tbody td a, table tbody td a:visited {
        color: #707070;
        text-decoration: none; }
      table tbody td a:focus, table tbody td a:hover {
        color: #2362a2;
        text-decoration: underline; }
      table tbody td a:active {
        color: #2362a2;
        text-decoration: none; }

/* img */
img {
  vertical-align: top;
  max-width: 100%;
  height: auto; }

/* list */
ul, ol {
  margin: 0 0 1rem 0;
  padding: 0.2rem 0 0.2rem 1.5rem; }

ul ul,
ul ol,
ol ol,
ol ul {
  margin: 0;
  padding: 0 0 0 2rem; }

ul li, ol li {
  list-style-position: outside;
  margin: 0.6rem 0 0.6rem 0;
  line-height: 1.5; }

/* hr */
hr {
  clear: both;
  margin: 1rem 0;
  border: 1px solid #f5f5f5; }

/* blockquote */
blockquote {
  margin: 0 0 1rem 0; }

blockquote p {
  background: #f5f5f5;
  padding: 1.5rem;
  margin: 0; }

blockquote p:before {
  color: #3b3b3b;
  content: "\201C";
  font-size: 3em;
  line-height: 0.1em;
  margin-right: 0.1em;
  vertical-align: -.4em;
  font-family: georgia, times, sans; }

blockquote p:after {
  color: #3b3b3b;
  content: "\201D";
  font-size: 3em;
  line-height: 0.1em;
  vertical-align: -.55em;
  margin-left: 0.1em;
  font-family: georgia, times, sans; }

/* audio */
audio {
  background: #000; }

@media (max-width: 450px) {
  audio {
    width: 100% !important; } }

/* video */
video {
  background: #000; }

@media (max-width: 450px) {
  video {
    width: 100% !important; } }

/* filter */
/* header */
/* row */
.view .views-row {
  margin-bottom: 4rem; }

/* footer */
.field--name-field-tags .field__items {
  border: 1px solid #e1e1e1;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  display: inline-block; }
  .field--name-field-tags .field__items .field__item {
    display: inline-block;
    border-right: 1px solid #e1e1e1; }
  .field--name-field-tags .field__items .field__item:last-child {
    border-right: 0; }
  .field--name-field-tags .field__items .field__item a {
    display: inline-block;
    padding: 10px; }

.field--name-title h2 {
  padding: 0; }

.field--type-comment .comment {
  border: 1px solid #e1e1e1;
  padding: 15px 20px;
  margin: 20px 0 0 0;
  position: relative; }
  .field--type-comment .comment .comment__meta > a {
    position: absolute;
    right: 15px;
    top: 15px; }

.field--type-comment .indented {
  margin-left: 50px; }

.field--type-comment .comment-form__title {
  padding-top: 50px; }

.field--type-image img {
  max-width: 100%;
  height: auto; }

.view-frontpage .views-row {
  margin-bottom: 4rem; }

.block-system-breadcrumb-block {
  margin-bottom: 25px; }
  .block-system-breadcrumb-block .breadcrumb li:nth-child(n+2)::before {
    color: #3b3b3b;
    display: inline;
    position: relative;
    top: auto;
    left: auto;
    content: "\e912";
    font-family: 'pvs-icons' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-size: 10px;
    font-size: 1rem;
    opacity: .5;
    padding: 0 10px; }

.block-search form {
  position: relative;
  margin: 0; }
  .block-search form .form-item {
    margin-top: 0px;
    margin-bottom: 0px; }
    .block-search form .form-item .form-search {
      padding: 11px 60px 11px 15px;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      -webkit-border-radius: 3px;
      -moz-border-radius: 3px;
      border-radius: 3px; }
  .block-search form .form-submit {
    position: absolute;
    right: 8px;
    top: 8px;
    height: 35px;
    width: 40px;
    padding: 0;
    margin: 0;
    border: 1px solid #dd9f0c;
    overflow: hidden;
    background: #ecae1a url("../images/search.svg") no-repeat 50% 50%;
    -webkit-background-size: 21px 21px;
    -moz-background-size: 21px 21px;
    background-size: 21px 21px;
    text-indent: 100px; }
    .block-search form .form-submit:hover {
      background-color: #dd9f0c; }

#copyright {
  padding: 25px 0 50px 0;
  background: #3b3b3b;
  color: #e1e1e1;
  /* block */ }
  #copyright .block {
    text-align: center; }
    #copyright .block > h2 {
      display: none; }

#footer {
  background: #3b3b3b;
  color: #e1e1e1; }
  #footer .block > h2 {
    margin-bottom: 1.5rem;
    font-size: 1.5rem;
    font-weight: bold;
    color: #fff; }
  @media (max-width: 991px) {
    #footer {
      padding: 40px 0 40px 0; }
      #footer .region-footer .block {
        margin-bottom: 30px;
        padding-bottom: 30px;
        border-bottom: 1px solid #3b3b3b; }
        #footer .region-footer .block:last-child {
          margin-bottom: 0px; } }
  @media (min-width: 992px) {
    #footer {
      padding: 80px 0 40px 0; }
      #footer .region-footer {
        display: -webkit-box;
        display: -webkit-flex;
        display: -moz-box;
        display: -ms-flexbox;
        display: flex;
        margin: 0 -20px; }
        #footer .region-footer .block {
          -webkit-box-flex: 1;
          -webkit-flex-grow: 1;
          -moz-box-flex: 1;
          -ms-flex-positive: 1;
          flex-grow: 1;
          -webkit-flex: 1;
          -ms-flex: 1;
          flex: 1;
          padding-left: 20px;
          padding-right: 20px; }
          #footer .region-footer .block > h2 {
            text-align: left; } }

#footer .block-system-branding-block {
  margin-bottom: 30px;
  float: none;
  height: auto; }
  #footer .block-system-branding-block a.logo {
    display: block;
    padding: 0px;
    text-decoration: none;
    text-align: center;
    width: 160px;
    margin: 0 auto; }
    #footer .block-system-branding-block a.logo .image {
      display: block;
      padding-right: 10px;
      vertical-align: top; }
      #footer .block-system-branding-block a.logo .image img {
        width: 180px;
        height: auto; }
    #footer .block-system-branding-block a.logo .title {
      display: block;
      vertical-align: top; }
      #footer .block-system-branding-block a.logo .title .site-name {
        display: block;
        font-size: 26px;
        color: #fff; }
      #footer .block-system-branding-block a.logo .title .site-slogan {
        display: block;
        font-size: 15px;
        color: #fff; }
  @media (min-width: 992px) {
    #footer .block-system-branding-block {
      margin-bottom: 0px; }
      #footer .block-system-branding-block a.logo {
        margin: 0; } }

#footer .block-menu {
  margin-bottom: 30px; }
  #footer .block-menu ul.menu li a {
    display: block;
    padding: 0.8rem 0 0.8rem 0;
    color: #fff;
    text-decoration: none; }
    #footer .block-menu ul.menu li a:hover {
      color: #ecae1a; }
  @media (max-width: 991px) {
    #footer .block-menu ul {
      text-align: center; } }
  @media (min-width: 992px) {
    #footer .block-menu {
      margin-bottom: 0px; }
      #footer .block-menu ul.menu li a {
        padding: 0px 0 1rem 0; } }

@media (max-width: 991px) {
  #header .region-header {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    -moz-box-orient: vertical;
    -moz-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column; }
    #header .region-header .block-language {
      -webkit-box-ordinal-group: 4;
      -webkit-order: 3;
      -moz-box-ordinal-group: 4;
      -ms-flex-order: 3;
      order: 3; }
    #header .region-header .block-search {
      -webkit-box-ordinal-group: 3;
      -webkit-order: 2;
      -moz-box-ordinal-group: 3;
      -ms-flex-order: 2;
      order: 2; }
    #header .region-header .block-menu {
      -webkit-box-ordinal-group: 2;
      -webkit-order: 1;
      -moz-box-ordinal-group: 2;
      -ms-flex-order: 1;
      order: 1; } }

@media (min-width: 992px) {
  #header {
    position: relative;
    height: 110px;
    background: #f5f5f5;
    color: #3b3b3b; }
    #header .region-header {
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex; } }

@media (max-width: 991px) {
  #header .block-system-branding-block {
    display: none; } }

@media (min-width: 992px) {
  #header .block-system-branding-block {
    margin: 0 auto 0 0;
    height: 110px; }
    #header .block-system-branding-block a.logo {
      display: inline-block;
      padding: 25px 0px 25px 0px;
      text-decoration: none; }
      #header .block-system-branding-block a.logo .image {
        display: inline-block;
        padding-right: 10px;
        vertical-align: top; }
        #header .block-system-branding-block a.logo .image img {
          width: 50px;
          height: auto; }
      #header .block-system-branding-block a.logo .title {
        display: inline-block;
        vertical-align: top; }
        #header .block-system-branding-block a.logo .title .site-name {
          display: block;
          font-size: 32px;
          color: #000; }
        #header .block-system-branding-block a.logo .title .site-slogan {
          display: block;
          font-size: 15px;
          color: #000; } }

#header .block-search h2 {
  display: none; }

@media (max-width: 991px) {
  #header .block-search {
    padding-bottom: 35px; } }

@media (min-width: 992px) {
  #header .block-search {
    width: 300px;
    margin-top: 35px; } }

#hero {
  background: #2362a2;
  color: #fff;
  /* block */ }
  @media (min-width: 992px) {
    #hero {
      margin-top: 8px; } }
  #hero .block > h2 {
    display: none; }

#hero .block-page-title-block h1 {
  margin: 0;
  text-align: center;
  line-height: 1.2;
  color: #fff; }

@media (max-width: 991px) {
  #hero .block-page-title-block h1 {
    padding: 2rem 0; } }

@media (min-width: 992px) {
  #hero .block-page-title-block h1 {
    padding: 4rem 0; } }

#main {
  margin: 0;
  background: transparent;
  color: #3b3b3b; }

#main .field {
  margin-bottom: 3rem; }

#main .node--view-mode-full .node__meta {
  padding-top: 20px;
  margin-top: 50px;
  border-top: 1px solid #e1e1e1; }

#main .node--view-mode-full .node__links {
  margin-bottom: 40px; }

@media (min-width: 992px) {
  #main .node--view-mode-full .field--name-field-image {
    float: right;
    margin: 0 0 20px 30px; } }

#main .node--view-mode-teaser h2.title {
  padding: 0; }

#main .node--view-mode-teaser .readmore {
  padding-top: 0; }
  #main .node--view-mode-teaser .readmore a {
    display: inline-block;
    color: #2362a2; }

@media (min-width: 480px) {
  #main .node--view-mode-teaser {
    display: -webkit-box;
    display: -webkit-flex;
    display: -moz-box;
    display: -ms-flexbox;
    display: flex;
    margin: 0 -15px; }
    #main .node--view-mode-teaser .left {
      -webkit-box-flex: 1;
      -webkit-flex: 1;
      -moz-box-flex: 1;
      -ms-flex: 1;
      flex: 1;
      margin: 0 15px; }
    #main .node--view-mode-teaser .right {
      -webkit-box-flex: 2.7;
      -webkit-flex: 2.7;
      -moz-box-flex: 2.7;
      -ms-flex: 2.7;
      flex: 2.7;
      margin: 0 15px; } }

#main #search-form .form-wrapper label {
  margin-bottom: 12px;
  display: block; }

#main #search-form .form-wrapper .form-type-search {
  display: inline-block;
  width: -webkit-calc(100% - 80px);
  width: -moz-calc(100% - 80px);
  width: calc(100% - 80px);
  margin: 0;
  vertical-align: bottom; }
  #main #search-form .form-wrapper .form-type-search .form-search {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    border-color: #2362a2;
    padding: 0 0.8rem;
    height: 55px;
    line-height: 55px;
    border: 2px solid #254e80; }

#main #search-form .form-wrapper .form-submit {
  display: inline-block;
  height: 55px;
  width: 55px;
  overflow: hidden;
  border: 0;
  background: #2362a2 url("../images/search-white.svg") no-repeat 50% 50%;
  -webkit-background-size: 30px 30px;
  -moz-background-size: 30px 30px;
  background-size: 30px 30px;
  text-indent: 100px;
  margin: 0;
  border: 2px solid #254e80;
  vertical-align: bottom; }
  #main #search-form .form-wrapper .form-submit:hover {
    background-color: #254e80; }

#main #search-form .search-help-link {
  display: none; }

#main ol.search-results {
  margin: 50px 0 0 0;
  padding: 0; }
  #main ol.search-results li {
    margin: 0 0 50px 0;
    padding: 0; }
    #main ol.search-results li .search-result__title {
      font-weight: normal;
      font-size: 1.4rem; }

#main .user-login-form {
  background: #e1e1e1;
  padding: 30px; }
  #main .user-login-form label {
    display: block;
    margin: 0 0 6px 0; }
  #main .user-login-form .form-text {
    margin-bottom: 8px;
    width: 100%; }
  #main .user-login-form .description {
    font-size: 0.8125rem; }

#main .user-pass {
  background: #e1e1e1;
  padding: 30px; }
  #main .user-pass label {
    margin-bottom: 10px;
    display: block; }
  #main .user-pass .form-item {
    margin-top: 0;
    margin-bottom: 0.5rem; }
  #main .user-pass .form-actions {
    margin-top: 0;
    margin-bottom: 0; }
  #main .user-pass p {
    font-size: 0.8125rem; }

#main .user-register-form {
  background: #e1e1e1;
  padding: 30px; }
  #main .user-register-form label {
    display: block;
    margin: 0 0 6px 0; }
  #main .user-register-form .form-text {
    margin-bottom: 8px;
    width: 100%; }
  #main .user-register-form .description {
    font-size: 0.8125rem; }

@media (max-width: 991px) {
  #menu {
    background: transparent;
    color: #fff; } }

@media (min-width: 992px) {
  #menu {
    background: #2362a2;
    color: #fff; } }

#menu .block-menu > h2 {
  display: none; }

@media (max-width: 991px) {
  #menu .block-menu {
    /* 1 */ }
    #menu .block-menu {
      padding: 0px 0px 35px 0px; }
    #menu .block-menu ul.menu {
      margin: 0;
      padding: 0; }
      #menu .block-menu ul.menu li {
        position: relative;
        margin: 0;
        padding: 0;
        line-height: 1.5;
        /* 2 */ }
        #menu .block-menu ul.menu li a {
          display: block;
          padding: 15px 80px 15px 20px;
          text-decoration: none;
          border-bottom: 1px solid #337dbd;
          color: #fff;
          font-size: 20px; }
          #menu .block-menu ul.menu li a:hover {
            color: #ecae1a; }
          #menu .block-menu ul.menu li a.is-active {
            color: #ecae1a; }
          #menu .block-menu ul.menu li a.is-active:hover {
            color: #ecae1a; }
        #menu .block-menu ul.menu li ul {
          display: none;
          border: 0; }
          #menu .block-menu ul.menu li ul.open {
            display: block; }
          #menu .block-menu ul.menu li ul li {
            /* 3 */ }
            #menu .block-menu ul.menu li ul li a {
              padding: 15px 80px 15px 40px; }
            #menu .block-menu ul.menu li ul li ul li {
              /* 4 */ }
              #menu .block-menu ul.menu li ul li ul li a {
                padding: 15px 80px 15px 60px; }
              #menu .block-menu ul.menu li ul li ul li ul li {
                /* 5 */ }
                #menu .block-menu ul.menu li ul li ul li ul li a {
                  padding: 15px 80px 15px 80px; }
                #menu .block-menu ul.menu li ul li ul li ul li ul li a {
                  padding: 15px 80px 15px 100px; }
        #menu .block-menu ul.menu li span {
          position: absolute;
          right: 0;
          top: 0px;
          height: 60px;
          width: 60px;
          background: url("../images/down.svg") no-repeat 50% 50%;
          cursor: pointer;
          border-left: 1px solid #337dbd; }
          #menu .block-menu ul.menu li span.open {
            background: url("../images/top.svg") no-repeat 50% 50%; } }

@media (min-width: 992px) {
  #menu .block-menu {
    /* 1 */ }
    #menu .block-menu {
      position: relative; }
    #menu .block-menu > ul.menu {
      margin: 0;
      padding: 0;
      display: -webkit-box;
      display: -webkit-flex;
      display: -moz-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-box-direction: normal;
      -webkit-flex-direction: row;
      -moz-box-orient: horizontal;
      -moz-box-direction: normal;
      -ms-flex-direction: row;
      flex-direction: row; }
      #menu .block-menu > ul.menu > li {
        margin: 0;
        padding: 0;
        list-style: none;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -moz-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        position: relative;
        line-height: 1;
        /* 2 */ }
        #menu .block-menu > ul.menu > li a {
          display: block;
          margin: 0;
          padding: 0;
          height: 54px;
          line-height: 54px;
          text-align: center;
          background: transparent;
          color: #fff;
          text-decoration: none;
          text-transform: uppercase;
          white-space: nowrap; }
        #menu .block-menu > ul.menu > li:hover > a {
          background: #337dbd;
          color: #ecae1a; }
          #menu .block-menu > ul.menu > li:hover > a:hover {
            background: #337dbd;
            color: #ecae1a; }
        #menu .block-menu > ul.menu > li.menu-item--active-trail > a {
          color: #fff; }
        #menu .block-menu > ul.menu > li.menu-item--active-trail:hover > a {
          color: #fff; }
        #menu .block-menu > ul.menu > li > ul {
          display: none;
          background: #337dbd; }
        #menu .block-menu > ul.menu > li:hover > ul {
          display: block;
          position: absolute;
          top: 54px;
          left: 0;
          z-index: 1000;
          height: auto;
          min-width: 100%; }
        #menu .block-menu > ul.menu > li:last-child > ul {
          right: 0;
          left: auto; }
        #menu .block-menu > ul.menu > li > ul > li {
          margin: 0;
          padding: 0;
          height: auto;
          line-height: 1;
          /* 3 */ }
          #menu .block-menu > ul.menu > li > ul > li > a {
            margin: 0;
            padding: 15px 20px;
            text-align: left;
            height: auto;
            line-height: 1;
            text-transform: none;
            font-weight: normal;
            color: #fff; }
            #menu .block-menu > ul.menu > li > ul > li > a:hover {
              background: #337dbd;
              color: #ecae1a; }
          #menu .block-menu > ul.menu > li > ul > li ul {
            display: none !important; } }

@media (max-width: 991px) {
  #navbar-wrapper {
    position: relative;
    height: 110px; }
  #navbar-wrapper #navbar {
    -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    -moz-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3);
    background: #fff;
    z-index: 100;
    position: relative;
    height: 110px; } }

@media (min-width: 992px) {
  #navbar-wrapper {
    display: none; } }

/* open */
body.menu-open #navbar-wrapper #navbar {
  height: 110px;
  width: 100%;
  position: fixed;
  top: 0px; }

#navbar .block-system-branding-block {
  margin: 0;
  height: 110px;
  float: left; }
  #navbar .block-system-branding-block a {
    display: inline-block;
    padding: 20px 0px 20px 20px;
    text-decoration: none; }
    #navbar .block-system-branding-block a .image {
      display: inline-block;
      padding-right: 10px;
      vertical-align: top; }
      #navbar .block-system-branding-block a .image img {
        width: auto;
        height: 70px; }
    #navbar .block-system-branding-block a .title {
      display: inline-block;
      vertical-align: top; }
      #navbar .block-system-branding-block a .title .site-name {
        display: block;
        font-size: 32px;
        color: #000; }
      #navbar .block-system-branding-block a .title .site-slogan {
        display: block;
        font-size: 15px;
        color: #000; }
  @media (max-width: 479px) {
    #navbar .block-system-branding-block a .title {
      display: none; } }

#navbar .icon-menu {
  position: absolute;
  right: 0;
  top: 0;
  width: 80px;
  height: 110px;
  border: 0;
  background: none;
  z-index: 200;
  text-align: center;
  margin: 0;
  padding: 0;
  border-left: 1px solid #EEEEEE; }
  #navbar .icon-menu span.icon-menu-1,
  #navbar .icon-menu span.icon-menu-2,
  #navbar .icon-menu span.icon-menu-3 {
    width: 30px;
    height: 4px;
    background: #000000;
    display: block;
    margin: 6px auto;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
    position: relative;
    top: 0; }
  #navbar .icon-menu span.icon-menu-1,
  #navbar .icon-menu span.icon-menu-3 {
    -webkit-transition: all 0.1s 0.1s;
    -o-transition: all 0.1s 0.1s;
    -moz-transition: all 0.1s 0.1s;
    transition: all 0.1s 0.1s; }
  #navbar .icon-menu span.icon-menu-2 {
    -webkit-transition: all 0.1s 0.1s;
    -o-transition: all 0.1s 0.1s;
    -moz-transition: all 0.1s 0.1s;
    transition: all 0.1s 0.1s; }
  @media (min-width: 992px) {
    #navbar .icon-menu {
      display: none; } }

/* open */
body.menu-open #navbar .icon-menu span.icon-menu-1 {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  position: relative;
  top: 10px; }

body.menu-open #navbar .icon-menu span.icon-menu-2 {
  visibility: hidden; }

body.menu-open #navbar .icon-menu span.icon-menu-3 {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
  position: relative;
  top: -10px; }

body.menu-open #navbar .icon-menu span.icon-menu-1,
body.menu-open #navbar .icon-menu span.icon-menu-3 {
  -webkit-transition: all 0 0;
  -o-transition: all 0 0;
  -moz-transition: all 0 0;
  transition: all 0 0; }

body.menu-open #navbar .icon-menu span.icon-menu-2 {
  -webkit-transition: all 0.1s 0s;
  -o-transition: all 0.1s 0s;
  -moz-transition: all 0.1s 0s;
  transition: all 0.1s 0s; }

#sidebar-first, #sidebar-second {
  margin: 0 0 40px 0;
  background: transparent;
  color: #3b3b3b;
  /* block */ }
  #sidebar-first .block, #sidebar-second .block {
    margin-bottom: 40px;
    background: #337dbd;
    color: #fff;
    padding: 20px 24px 20px 36px; }
    #sidebar-first .block:last-child, #sidebar-second .block:last-child {
      margin-bottom: 0px; }
    #sidebar-first .block > h2, #sidebar-second .block > h2 {
      padding: 0 0 20px 0;
      margin: 0 0 20px 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.5);
      font-size: 1.4rem;
      font-weight: 500;
      text-transform: uppercase;
      color: rgba(255, 255, 255, 0.6); }

@media (max-width: 991px) {
  #sidebar-first .block-menu, #sidebar-second .block-menu {
    display: none; } }

@media (min-width: 768px) {
  #sidebar-first .block-menu > ul.menu, #sidebar-second .block-menu > ul.menu {
    margin: 0 -24px 0 -36px; }
  #sidebar-first .block-menu ul.menu li, #sidebar-second .block-menu ul.menu li {
    line-height: 1.5em;
    /* 2 */ }
    #sidebar-first .block-menu ul.menu li a, #sidebar-second .block-menu ul.menu li a {
      display: block;
      padding: 9px 24px 9px 36px;
      font-size: 1.2rem;
      font-weight: 500;
      text-transform: uppercase;
      text-decoration: none;
      background: transparent;
      color: #fff; }
      #sidebar-first .block-menu ul.menu li a:hover, #sidebar-second .block-menu ul.menu li a:hover {
        background: transparent;
        text-decoration: none;
        color: #ecae1a; }
      #sidebar-first .block-menu ul.menu li a.is-active, #sidebar-second .block-menu ul.menu li a.is-active {
        background: #f5f5f5;
        color: #2362a2; }
        #sidebar-first .block-menu ul.menu li a.is-active:hover, #sidebar-second .block-menu ul.menu li a.is-active:hover {
          background: #f5f5f5;
          color: #2362a2; }
    #sidebar-first .block-menu ul.menu li ul, #sidebar-second .block-menu ul.menu li ul {
      /* 3 */ }
      #sidebar-first .block-menu ul.menu li ul li a, #sidebar-second .block-menu ul.menu li ul li a {
        padding-left: 51px; }
      #sidebar-first .block-menu ul.menu li ul ul, #sidebar-second .block-menu ul.menu li ul ul {
        /* 4 */ }
        #sidebar-first .block-menu ul.menu li ul ul li a, #sidebar-second .block-menu ul.menu li ul ul li a {
          padding-left: 66px; }
        #sidebar-first .block-menu ul.menu li ul ul ul li a, #sidebar-second .block-menu ul.menu li ul ul ul li a {
          padding-left: 81px; } }
