//
// CLASS
//

/* background */
.bg-primary {
    background: $theme-blue; 
}
.bg-primary-light {
    background: $theme-blue-light; 
}
.bg-primary-dark {
    background: $theme-blue-dark; 
}
.bg-secondary {
    background: $theme-yellow-dark; 
}
.bg-secondary-dark {
    background: $theme-yellow-dark; 
}

/* text */
.text-primary {
    color: $theme-blue; 
}
.text-primary-light {
    color: $theme-blue-light; 
}
.text-primary-dark {
    color: $theme-blue-dark; 
}
.text-secondary {
    color: $theme-yellow-dark; 
}
.text-secondary-dark {
    color: $theme-yellow-dark; 
}

/* nowrap */
.nowrap {
    white-space: nowrap;
}
