//
// GLOBAL
//

/* box model */
*,
*::before,
*::after {
     box-sizing: border-box;
}

/* clearfix */
.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
}
* html .clearfix { zoom: 1; } /* IE6 */
*:first-child+html .clearfix { zoom: 1; } /* IE7 */

/* focus */
*:focus {
    outline: 0;
}
