// 
// ICONS
// 

$version: '3';

@font-face {
	font-family: 'pvs-icons';
	src: url('../fonts/icons/pvs-icons.ttf?v=#{$version}') format('truetype'),
		url('../fonts/icons/pvs-icons.woff?v=#{$version}') format('woff'),
		url('../fonts/icons/pvs-icons.svg?v=#{$version}#icon') format('svg');
	font-weight: 400;
	font-style: normal;
}

// person '\e900'
// search '\e901'
// dots-three-vertical '\e902'
// pvs-logo '\e903'
// pvs-logo-text '\e904'
// accordion-arrow-down '\e905'
// accordion-arrow-up '\e90a'
// accordion-arrow-left '\e90b'
// accordion-arrow-right '\e90c'
// arrow-list-down '\e90d'
// arrow-list-up '\e90e'
// arrow-list-left '\e90f'
// arrow-list-right '\e906'
// arrow-down '\e907'
// arrow-up '\e910'
// arrow-left '\e911'
// arrow-right '\e912'
// check '\e908'
// external-link '\e909'
// rss '\e913'
// data-box '\e914'
// pin '\e915'
// calendar '\e916'
// plus '\e917'
// thin-plus '\e918'
// alert '\e919'
// mail '\e91a'
// close '\e91b'
// circle-plus '\e91c'
// circle-minus '\e91d'
// time '\e91e'
// star '\e91f'
// attachment '\e920'
// message '\e921'
// notification '\e922'
// settings '\e923'
// exit '\e924'
// squares-grid '\e925'
