//
// VARIABLES
//

// COLORS
$white:                     #fff;
$theme-white:               $white;
$black:                     #000;
$theme-black:               $black;

$theme-blue-lighten:        #3375ae;
$theme-blue-light:          #337dbd;
$theme-blue:                #2362a2;
$theme-blue-dark:           #254e80;

$theme-yellow:              #ecae1a;
$theme-yellow-dark:         #dd9f0c;
$theme-red:                 #e04857;
$theme-gray-dark:           #3b3b3b;
$theme-gray:                #707070;
$theme-gray-lighten:        #e1e1e1;
$theme-gray-light:          #f5f5f5;

// BREAKPOINTS
$screen-xs-min: 480px;
$screen-sm-min: 768px;
$screen-md-min: 992px;
$screen-lg-min: 1300px;

$screen-xs-max: ($screen-xs-min - 1);
$screen-sm-max: ($screen-md-min - 1);
$screen-md-max: ($screen-lg-min - 1); 

// LETTER SPACING
$theme-letter-spacing:      0.075em;

// TYPO
$h1-font-size:              8rem;
$h1-font-size-mobile:       5.6rem;
$h2-font-size:              4rem;
$h2-font-size-mobile:       3rem;
$h3-font-size:              2rem;
$h4-font-size:              1.2rem;
$h5-font-size:              1.2rem;
$h6-font-size:              1.2rem;

$link-color:                $theme-blue !default;
$link-decoration:           underline;
$link-hover-color:          $theme-yellow !default;
$link-hover-decoration:     none;
$link-transition:           color .15s ease-in-out, text-decoration .15s ease-in-out;

// BODY
$body-background: $theme-gray-light;
$body-text: $theme-gray-dark;

// LAYOUT
$center-background: $theme-gray-light;
$navbar-collapse-background: $theme-blue;
$navbar-collapse-text: $white;

// NAVBAR
$navbar-background: transparent;
$navbar-text: $theme-gray-dark;

// HEADER
$header-background: $theme-gray-light;
$header-text: $theme-gray-dark;

// MENU
$menu-background: $theme-blue;
$menu-text: $theme-white;

$menu-link-background: transparent;
$menu-link-background-hover: $theme-blue-light;
$menu-link-text: $theme-white;
$menu-link-text-hover: $theme-yellow;
$menu-link-text-active: $white;
$menu-link-text-active-hover: $white;

$menu-second-link-background: $theme-blue-light;
$menu-second-link-background-hover: $theme-blue-light;
$menu-second-link-text: $white;
$menu-second-link-text-hover: $theme-yellow;
$menu-second-link-text-active: $white;
$menu-second-link-text-active-hover: $theme-yellow;

$menu-mobile-background: transparent;
$menu-mobile-text: $white;

$menu-mobile-border: $theme-blue-light;
$menu-mobile-link-text: $white;
$menu-mobile-link-text-hover: $theme-yellow;
$menu-mobile-link-text-active: $theme-yellow;
$menu-mobile-link-text-active-hover: $theme-yellow;

// HERO
$hero-background: $theme-blue;
$hero-text: $white;
$hero-title-text: $white;

// MAIN
$main-background: transparent;
$main-text: $theme-gray-dark;

// SIDE
$sidebar-background: transparent;
$sidebar-text: $theme-gray-dark;

$side-block-background: $theme-blue-light;
$side-block-text: $white;

$sidebar-menu-link: $white;
$sidebar-menu-link-hover: $theme-yellow;
$sidebar-menu-background: transparent;
$sidebar-menu-background-hover: transparent;

$sidebar-menu-link-active: $theme-blue;
$sidebar-menu-link-active-hover: $theme-blue;
$sidebar-menu-background-active: $theme-gray-light;
$sidebar-menu-background-active-hover: $theme-gray-light;

// FOOTER
$footer-background: $theme-gray-dark;
$footer-text: $theme-gray-lighten;
$footer-link: $white;
$footer-link-hover: $theme-yellow;

// COPY
$copy-background: $theme-gray-dark;
$copy-text: $theme-gray-lighten;
