//
// SIDEBAR - BLOCK MENU
//

#sidebar-first, #sidebar-second {

    .block-menu {

        @media (max-width: $screen-sm-max) {

            & {
                display: none;
            }
    
        }
    
        @media (min-width: $screen-sm-min) {
    
            & > ul.menu {
                margin: 0 -24px 0 -36px;
            }

            & {

                ul.menu {

                    li {
                        line-height: 1.5em;
    
                        a {
                            display: block;
                            padding: 9px 24px 9px 36px;
                            font-size: 1.2rem;
                            font-weight: 500;
                            text-transform: uppercase;
                            text-decoration: none;
                            background: $sidebar-menu-background;
                            color: $sidebar-menu-link; 

                            &:hover {
                                background: $sidebar-menu-background-hover;
                                text-decoration: none;
                                color: $sidebar-menu-link-hover; 
                            }
                            &.is-active {
                                background: $theme-gray-light;  
                                color: $theme-blue;

                                &:hover {
                                    background: $theme-gray-light;  
                                    color: $theme-blue;
                                }
    
                            }

                        }

                        /* 2 */
                        ul {

                            li {

                                a {
                                    padding-left: 51px;
                                }

                            }

                            /* 3 */
                            ul {

                                li {

                                    a {
                                        padding-left: 66px;
                                    }

                                }

                                /* 4 */
                                ul {

                                    li {

                                        a {
                                            padding-left: 81px;
                                        }

                                    }

                                }

                            }

                        }

                    }

                }

            }

        }

    }

}