//
// HERO - PAGE TITLE
//

#hero {

    .block-page-title-block {

        h1 {
            margin: 0;
            text-align: center;
            line-height: 1.2;
            color: $hero-title-text;
        }

        @media (max-width: $screen-sm-max) {

            h1 {
                padding: 2rem 0;
            }
        
        }
    
        @media (min-width: $screen-md-min) {
    
            h1 {
                padding: 4rem 0;
            }
        
        }
        
    }

}
