// 
// MAIN - SEARCH RESULT
// 

#main {

    #search-form {

        .form-wrapper {

            label {
                margin-bottom: 12px;
                display: block;
            }
    
            .form-type-search {
                display: inline-block;
                width: calc(100% - 80px);
                margin: 0;
                vertical-align: bottom;

                .form-search {
                    box-sizing: border-box;
                    border-color: $theme-blue;
                    padding: 0 0.8rem;
                    height: 55px;
                    line-height: 55px;                    
                    border: 2px solid $theme-blue-dark;
                }

            }

            .form-submit {
                display: inline-block;
                height: 55px;
                width: 55px;
                overflow: hidden;
                border: 0;
                background: $theme-blue url('../images/search-white.svg') no-repeat 50% 50%;
                background-size: 30px 30px;
                text-indent: 100px;
                margin: 0;
                border: 2px solid $theme-blue-dark;
                vertical-align: bottom;                

                &:hover {
                    background-color: $theme-blue-dark;
                }

            }

        }

        .search-help-link {
            display: none;
        }

    }

    ol.search-results {
        margin: 50px 0 0 0;
        padding: 0;

        li {
            margin: 0 0 50px 0;
            padding: 0;
    
            .search-result__title {
                font-weight: normal;
                font-size: 1.4rem;
            }
    
        }
    
    }

}
