//
// MAIN - USER PASS
//

#main {

    .user-pass {
        background: $theme-gray-lighten;
        padding: 30px;
    
        label {
            margin-bottom: 10px;
            display: block;
        }
    
        .form-item {
            margin-top: 0;
            margin-bottom: 0.5rem;
        }
    
        .form-actions {
            margin-top: 0;
            margin-bottom: 0;
        }
    
        p {
            font-size: 0.8125rem;
        }
    
    }

}
