//
// MAIN - USER REGISTER
//

#main {

    .user-register-form {
        background: $theme-gray-lighten;
        padding: 30px;
    
        label {
            display: block;
            margin: 0 0 6px 0;
        }
    
        .form-text {
            margin-bottom: 8px;
            width: 100%;
        }
    
        .description {
            font-size: 0.8125rem;            
        }
        
    }
    
}
