//
// FOOTER - BLOCK BRANDING
//

#footer {

    .block-system-branding-block {
        margin-bottom: 30px;
        float: none;
        height: auto;

        a.logo {
            display: block;
            padding: 0px;
            text-decoration: none;
            text-align: center;
            width: 160px;
            margin: 0 auto;

            .image {
                display: block;
                padding-right: 10px;
                vertical-align: top;
    
                img {
                    width: 180px;
                    height: auto;
                }
    
            }
    
            .title {
                display: block;
                vertical-align: top;
    
    
                .site-name {
                    display: block;
                    font-size: 26px;
                    color: $white;
                }
        
                .site-slogan {
                    display: block;
                    font-size: 15px;
                    color: $white;
                }
    
            }

        }

        @media (min-width: $screen-md-min) {

            & {
                margin-bottom: 0px;

                a.logo {
                    margin: 0;
                }
    
            }
    
        }

    }

}
