{% extends "block.html.twig" %}
{#
/**
 * @file
 * Default theme implementation for a branding block.
 *
 * Each branding element variable (logo, name, slogan) is only available if
 * enabled in the block configuration.
 *
 * Available variables:
 * - site_logo: Logo for site as defined in Appearance or theme settings.
 * - site_name: Name for site as defined in Site information settings.
 * - site_slogan: Slogan for site as defined in Site information settings.
 *
 * @ingroup themeable
 */
#}
{% block content %}
<a href="{{ path('<front>') }}" title="{{ 'Home'|t }}" class="logo" rel="home">
  <span class="image">
    <img src="{{ site_logo }}" alt="{{ 'Home'|t }}" />
  </span>
  <span class="title">
    {% if site_name %}
      <span class="site-name">
        {{ site_name }}
      </span>  
    {% endif %}
    {% if site_slogan %}
      <span class="site-slogan">
        {{ site_slogan }}
      </span>  
    {% endif %}
  </span>
</a>
{% endblock %}
