//
// FORM
//
   
input, button, select, optgroup, textarea {
    margin: 0;
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
}
button, input {
    overflow: visible;
}

/* base */
form {
    margin-bottom: 2rem;
}
.form-item {
    margin-top: 0px;
    margin-bottom: 20px;
}
label {
    display: block;
    margin-bottom: 8px;
}
.form-actions  {
    padding-top: 20px;
}

/* elements style */
.form-text, 
.form-search,
.form-email, 
.form-textarea {
    display: block;
    width: 100%;
    padding: 1.1rem 2rem;
    color: #3b3b3b;
    font-size: 2rem;
    letter-spacing: 0.06375em;
    line-height: 1.3333333333;
    border: 0px solid #FFFFFF;
    border-bottom-width: 2px;
    border-radius: 3px 3px 0 0;
    box-sizing: border-box;
    background-color: #FFF;
    background-image: none;
    background-clip: padding-box;
    box-shadow: none;
    transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
}

.form-textarea,
.form-email,
.form-search,
.form-text {

	&:hover,
	&:active,
	&:focus {
        border-bottom-color: $theme-yellow;
    }

}

/* submit */
.form-submit {     
    display: inline-block;
    vertical-align: middle;
    user-select: none;
    padding: 1.1rem 2rem;
    line-height: 1.3333333333;
    border-radius: 3px;
    font-size: 1.2rem;
    font-weight: 500;
    letter-spacing: .5px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    white-space: nowrap;
    cursor: pointer;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;

    /* primary style */
    color: #3b3b3b;
    background: $theme-yellow;
    border: 2px solid $theme-yellow-dark;

	&:hover {
        background: $theme-yellow-dark;
    }

}
