//
// PAGER
//

.pager {
    text-align: center;
    margin: 0 0 1rem 0;
    letter-spacing: 0;

    .pager__items {
        clear: none;
        display: inline-block;
        padding: 0;
        margin: 0;
        border: 1px solid $theme-gray-lighten;
        border-radius: 5px;
        font-size: 0;

        .pager__item {
            display: inline-block;
            padding: 0;
            margin: 0;
            border-right: 1px solid $theme-gray-lighten;
            font-size: 1rem;
            vertical-align: bottom;
    
            a {
                display: inline-block;
                padding: 0.5em 1em;
                font-size: 1.5rem;
            }
    
            &:last-child {
                border-right: 0;
            }
        
            &.is-active {
                font-weight: bold;
        
                a {
                    background: $theme-gray-lighten;
                }
        
            }
        
        }
    
    }
    
    @media (max-width: $screen-sm-max) {
    
        .pager__item--first,
        .pager__item--previous,
        .pager__item--next,
        .pager__item--last {
            
            span {
                display: none;
            }

        }
        .pager__item--first a:after {
            content: "<<";
        }
        .pager__item--previous a:after {
            content: "<";
        }
        .pager__item--next a:after {
            content: ">";
        }
        .pager__item--last a:after {
            content: ">>";
        }

    }

    @media (max-width: $screen-xs-max) {
    
        .pager__item {
            display: none;
        }
        .pager__item.is-active,
        .pager__item--first,
        .pager__item--previous,
        .pager__item--next,
        .pager__item--last {
            display: inline-block;
        }

    }

}