//
// TABS
//

nav.tabs {

     ul.tabs:after {
          content: ".";
          display: block;
          height: 0;
          clear: both;
          visibility: hidden;
     }
     ul.tabs {
          padding: 0;
          border: 0;
          border-bottom: 1px solid $theme-blue;
          margin: 0 0 30px 0;
     }
     ul.tabs li {
          float: left;
          display: block;
          border: 0;
          margin: 0 6px 0 0;
          padding: 0;
     }
     ul.tabs li a {
          float: left;
          display: block;
          border: 0;
          border-top-left-radius: 3px;
          border-top-right-radius: 3px;
          background: #D6D6D6;
          margin: 0;
          padding: 10px 20px;
          font-size: 1.5rem;
     }
     ul.tabs li a:hover {
          background: #C6C6C6;
     }
     ul.tabs li.is-active a {
          background-color: $theme-blue;
          border: 0;
          color: #FFFFFF;
     }
     ul.tabs li.is-active a:hover {
          background-color: $theme-blue;
     }

     @media (max-width: $screen-md-max) {

          ul.tabs li a {
               padding: 10px 10px;
               font-size: 1rem;
          }
          
     }

}
