//
// TYPO
//

/* html */
html {
     font-size: 0.625rem;
}

/* body */
body {
     background: $body-background;
     font-family: "Roboto", helvetica, arial, sans-serif;
     font-size: 1.5rem;
     font-weight: 400;
     line-height: 1.3333333333;
     letter-spacing: $theme-letter-spacing;
     color: $body-text;
     text-align: left;
}

/* paragraph */
p {
     font-size: 1.5rem;
     margin: 0 0 2.5rem 0;
     line-height: 1.3333333333;
}
p.perex {
     font-size: 2rem;
     line-height: 1.5;
     color: $body-text;
}
p.smaller  {
     font-size: 1.2rem;
     line-height: 1.3333333333;
}

/* link */
a {
     color: $link-color;
     text-decoration: $link-decoration;
     transition: $link-transition;

     &:hover {
          color: $link-hover-color;
          text-decoration: $link-hover-decoration;
     }   

}

/* titles */
h1 {
     margin: 0;
     padding: 0;
     font-size: $h1-font-size;
     font-weight: 100;
     line-height: 1.25;

     @media (max-width: $screen-sm-max) {

          & {
               font-size: $h1-font-size-mobile;
          }          

     }
     
}

h2 {
     margin: 0 0 1rem 0;
     padding: 0 0 0 0;
     font-size: $h2-font-size;
     font-weight: 300;     
     line-height: 1.25;

     @media (max-width: $screen-sm-max) {

          & {
               font-size: $h2-font-size-mobile;
          }          

     }     
}

h3 {
     margin: 0 0 1rem 0;
     padding: 0 0 0 0;
     font-size: $h3-font-size;
     font-weight: 400;      
     line-height: 1.3;
}
h4 {
     margin: 0 0 1rem 0;
     padding: 0 0 0 0;
     font-size: $h4-font-size;
     font-weight: 300;      
     line-height: 1.6666666667;
}
h6 {
     margin: 0 0 1rem 0;
     padding: 0 0 0 0;
     font-size: $h5-font-size;
     font-weight: 300;      
     line-height: 1.6666666667;
}
h5 {
     margin: 0 0 1rem 0;
     padding: 0 0 0 0;
     font-size: $h6-font-size;
     font-weight: 300;      
     line-height: 1.6666666667;
}

/* table */
table {
	display: table;
	width: 100% !important;
	margin-bottom: 25px;

	thead,
	tbody {
		th {
			color: $theme-blue;
			text-transform: uppercase;
			font-weight: 500;
		}
	}

	thead {
		display: none;

		@media (min-width: $screen-md-min) {
			display: table-header-group;
		}

		th {
			padding: 10px 10px 10px 10px;
               font-size: 1.2rem;

			&:first-child {
				padding-left: 0;
			}
		}

     }

	tbody {
		display: block;

		@media (min-width: $screen-md-min) {
			display: table-row-group;
		}

		tr + tr {
			border-top: 1px solid $theme-gray-lighten;

			&.no-border {
				th,
				td {
					border-top: none;
				}
			}

          }

		tr {
			display: block;
			padding: 15px;

			@media (min-width: $screen-md-min)  {
				display: table-row;
			}

          }

		td {
			display: block;
			border: none;
			border-bottom: none;
			position: relative;
			padding: 0;
			letter-spacing: ( $theme-letter-spacing / 2 );
               font-size: 1.5rem;

			@media (min-width: $screen-md-min) {
				display: table-cell;
				padding: 9px 20px 9px 20px;
               }

			a {
				&,
				&:visited {
					color: $theme-gray;
					text-decoration: none;
				}

				&:focus,
				&:hover {
					color: $theme-blue;
					text-decoration: underline;
				}

				&:active {
					color: $theme-blue;
					text-decoration: none;
				}
			}
		}

     }
     
}
 
/* img */
img {
     vertical-align: top;
     max-width: 100%;
     height: auto;
}

/* list */
ul, ol {
     margin: 0 0 1rem 0;
     padding: 0.2rem 0 0.2rem 1.5rem;
}
ul ul,
ul ol, 
ol ol,
ol ul {
     margin: 0;
     padding: 0 0 0 2rem;
}
ul li, ol li {
     list-style-position: outside; 
     margin: 0.6rem 0 0.6rem 0;
     line-height: 1.5;
}

/* hr */
hr {
     clear: both;
     margin: 1rem 0; 
     border: 1px solid $theme-gray-light; 
}

/* blockquote */
blockquote {
     margin: 0 0 1rem 0;
}
blockquote p {
     background: $theme-gray-light;
     padding: 1.5rem;
     margin: 0;
}   
blockquote p:before {
     color: $theme-gray-dark;
     content: "\201C";
     font-size: 3em;
     line-height: 0.1em;
     margin-right: 0.1em;
     vertical-align: -.4em;
     font-family: georgia, times, sans;
}
blockquote p:after {
     color: $theme-gray-dark;
     content: "\201D";
     font-size: 3em;
     line-height: 0.1em;
     vertical-align: -.55em;
     margin-left: 0.1em;
     font-family: georgia, times, sans;
}

/* audio */
audio {
     background: $black;
}

@media (max-width: 450px) {

     audio {
          width: 100% !important;
     }

}

/* video */
video {
     background: $black;
}

@media (max-width: 450px) {

     video {
          width: 100% !important;
     }

}
