//
// HERO
//

#hero {
    background: $hero-background;
    color: $hero-text;

    @media (min-width: $screen-md-min) {

        & {
            margin-top: 8px; 
        }

    }
    
    /* block */
    .block > h2 {
        display: none;    
    }

}
