//
// HEADER - BLOCK SEARCH
//

#header {

    .block-search h2 {
        display: none;
    }

    @media (max-width: $screen-sm-max) {

        .block-search {
            padding-bottom: 35px;
        }
    
    }

    @media (min-width: $screen-md-min) {

        .block-search {
            width: 300px;
            margin-top: 35px;
        }
      
    }
    
}
