//
// SIDEBAR
//

#sidebar-first, #sidebar-second {
    margin: 0 0 40px 0;
    background: $sidebar-background;
    color: $sidebar-text;

    /* block */
    .block {
        margin-bottom: 40px;
        background: $side-block-background;
        color: $side-block-text;
        padding: 20px 24px 20px 36px;

        &:last-child {
            margin-bottom: 0px;
        }

        & > h2 {
            padding: 0 0 20px 0;
            margin: 0 0 20px 0;
            border-bottom: 1px solid rgba(255, 255, 255, 0.5);
            font-size: 1.4rem;
            font-weight: 500;
            text-transform: uppercase;
            color: rgba(255, 255, 255, 0.6);
        }

    }

}
