//
// FIELD - NAME - TAGS
//

.field--name-field-tags {

    .field__items {

        border: 1px solid $theme-gray-lighten;
        border-radius: 5px;
        display: inline-block;

        .field__item {
            display: inline-block;
            border-right: 1px solid $theme-gray-lighten;
        }
        .field__item:last-child {
            border-right: 0;
        }
        .field__item a {
            display: inline-block;
            padding: 10px;
        }

    }

}