// 
// BLOCK SEARCH
// 

.block-search {

    form {
        position: relative;
        margin: 0;

        .form-item {
            margin-top: 0px;
            margin-bottom: 0px;

            .form-search {
                padding: 11px 60px 11px 15px;
                box-sizing: border-box;
                border-radius: 3px;
            }
            
        }

        .form-submit {
            position: absolute;
            right: 8px;
            top: 8px;
            height: 35px;
            width: 40px;
            padding: 0;
            margin: 0;
            border: 1px solid $theme-yellow-dark;
            overflow: hidden;
            background: $theme-yellow url('../images/search.svg') no-repeat 50% 50%;
            background-size: 21px 21px;
            text-indent: 100px;

            &:hover {
                background-color: $theme-yellow-dark;
            }

        }

    }

}
