//
// BREADCRUMBS
//

.block-system-breadcrumb-block {
    margin-bottom: 25px;

    .breadcrumb {

        li:nth-child(n+2)::before {
            color: #3b3b3b;
            display: inline;
            position: relative;
            top: auto;
            left: auto;
            content: "\e912";
            font-family: 'pvs-icons' !important;
            speak: none;
            font-style: normal;
            font-weight: normal;
            font-variant: normal;
            text-transform: none;
            line-height: 1;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            font-size: 10px;
            font-size: 1rem;
            opacity: .5;
            padding: 0 10px;
        }

    }

}
