//
// MENU
//

#menu {

    @media (max-width: $screen-sm-max) {

        & {
            background: $menu-mobile-background;
            color: $menu-mobile-text;
        }

    }

    @media (min-width: $screen-md-min) {

        & {
            background: $menu-background;
            color: $menu-text;
        }
    
    }
    
}
